body {
  .yh-container {
    margin-top: 15px;

    .btn-danger {
      margin-right: 10px;
    }
  }

  .yh-page-title {
    border-bottom: 3px double;
    margin-bottom: 15px;
  }

  .yh-form-group {
    border-bottom: 1px dashed;
  }

}
